*{
    box-sizing: border-box;
}
header{
    text-align: center;
    margin: 0 auto;
    width: 80vw;
}
img{
    width: 300px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: dimgrey;
    color: whitesmoke;
    margin: 0 auto;
    padding: 1rem;
    width: 80vw;
}
h3{
    background-color: thistle;
}
main img{
    border-radius: 45px;
    border: 3px solid black;
    margin-top: 55px;
    height: auto;
}
footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}
ul{
    list-style: none;
}
a:visited{
    color: whitesmoke;
}